
.race-options-container {
  //background-image: url("src/assets/beach.jpg");
  background-size: cover;
  opacity: 1;
  background-attachment: fixed;
  width: 100vw;
  background-position: center;
  position: relative;
  margin-bottom: 80px;

  .race-options-img {
    width: 100%;
    height: 100%;
    z-index: 10;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
  }

  .left-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -50px;
    font-size: 45px;
    //color: #fff;
    z-index: 5;
    cursor: pointer;
  }
  .right-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: -50px;
    font-size: 45px;
    //color: #fff;
    z-index: 5;
    cursor: pointer;
  }
}

.container {
  width: 300px;
  height: 250px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 500px;
    height: 350px;
  }
  @media screen and (min-width: 1080px) {
    width: 900px;
    height: 600px;
  }
}

.slider-container {
  height: 100%;
  position: relative;
}

.dots-container {
  justify-content: center;
  gap: 10px;
  display: flex;
  margin: 12px 4px;
  font-size: 12px;
  cursor: pointer;

}
.active-dot {
  color: lightgrey;
}